<div class="contenedorPrincipal">
  <main>
    <div class="main__container">

      <!-- TITULO DEL DASHBOARD -->
      <div class="row main__title">
        <div class="col-9">
          <p class="titulo_principal">Observatorio de Learning Analytics</p>
        </div>
        <div class="col-3" style="text-align:end;">
          <button (click)="showModalDialogDatos()" class="calendario"><i class='bx bx-calendar-alt'></i> 2011-2019</button>
        </div>
      </div>
      <div class="row tituloDash">
        <p>Dashboards de Conferencias</p>
      </div>
      <!-- TERMINA TITULO DEL DASHBOARD -->

      <!-- VISUALIZACIONES -->
      <div class="row">
        <div class="contenedor">
          <div class="row secondary__title">
            <div class="col-6">
              <p>Top 5 de conferencias con mayor número de publicaciones</p>
            </div>
            <div class="col-6" style="text-align:end;">
              <div>
                <button (click)="showModalDialog1()" class="informa"><i class='bx bx-plus' style='font-size:12px;'></i>   Info</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <fusioncharts
                [width]="width"
                [height]="height"
                [type]="type"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
              ></fusioncharts>
            </div>
            <div class="col-6">
              <div class="row">
                <fusioncharts
                  [width]="width2"
                  [height]="height"
                  [type]="type2"
                  [dataFormat]="dataFormat"
                  [dataSource]="dataSource2"
                ></fusioncharts>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="contenedor">
            <div class="row secondary__title">
              <div class="col-9">
                <p>Número de publicaciones a lo largo de los años</p>
              </div>
              <div class="col-3" style="text-align:end;">
                <div>
                  <button (click)="showModalDialog2()" class="informa"><i class='bx bx-plus' style='font-size:12px;'></i>   Info</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div id="containerBubble"  ></div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="contenedor">
            <div class="row secondary__title">
              <div class="col-9">
                <p>Top 5 de las instituciones que tienen mayor número de publicaciones</p>
              </div>
              <div class="col-3" style="text-align:end;">
                <div>
                  <button (click)="showModalDialog3()" class="informa"><i class='bx bx-plus' style='font-size:12px;'></i>   Info</button>
                </div>
              </div>
            </div>
            <div class="row">
              <p>   </p>
            </div>
            <div class="row">
              <p-table [value]="datosTabla"
                       [style]="{'font-size':'14px'}"
                       [rows]="3"
                       styleClass="p-datatable-responsive-demo p-datatable-lg">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 75px;">País</th>
                    <th style="width: 400px;">Institución</th>
                    <th>N° Publicaciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-doc>
                  <tr>
                    <td style="width: 25px;">
                      <span [class]="'flag-icon flag-icon-' + doc.nombrePais" [style]="{'font-size':'22px'}"></span>
                    </td>
                    <td style="width: 25px;">
                      {{doc.institucion}}
                    </td>
                    <td style="width: 0px;">
                      {{doc.total}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="row secondary__title">
              <p>   </p>
            </div>
          </div>
        </div>
      </div>

      <!-- TERMINAN VISUALIZACIONES -->
    </div>
  </main>
</div>

<!--Ventana Modal: Top 5 de conferencias con mayor número de publicacionesTop 5 de conferencias con mayor número de publicaciones-->
<p-dialog
  header="  "
  [(visible)]="displayModal1"
  [modal]="true"
  [style]="{width: '35vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="row">
    <img src="assets/conferencia.jpg" class="imgDash">
  </div>
  <div class="row descripcionTitulo">
    <p><i class='bx bxs-dashboard'></i>     Publicaciones por país</p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">Este apartado posee un top 5 de las conferencias con mayor
      número de publicaciones, el gráfico de la izquierda muestra un ranking de mayor a
      menor, mientras que el gráfico de la parte derecha, muestra a mayor detalle el
      número de publicaciones en cada uno de los tres que posee cada conferencia.
    </p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">   </p>
  </div>
  <div class="wrap contenedorBoton">
    <div class="item">
      <button (click)="displayModal1=false" class="botonVentana">Entendido</button>
    </div>
  </div>
</p-dialog>


<!--Ventana Modal: Número de publicaciones a lo largo de los años-->
<p-dialog
  header="  "
  [(visible)]="displayModal2"
  [modal]="true"
  [style]="{width: '35vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="row">
    <img src="assets/papers.jpg" class="imgDash">
  </div>
  <div class="row descripcionTitulo">
    <p><i class='bx bxs-dashboard'></i>     Número de publicaciones a lo largo de los años</p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">Esta visualización muestra las publicaciones por cada uno
      de los años comprendidos entre el 2011 a 2019. Es importante mencionar
      que en el año 2012 del conjunto de datos, no existen publicaciones de
      ningún tipo acerca de Learning Analytics.
    </p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">   </p>
  </div>
  <div class="wrap contenedorBoton">
    <div class="item">
      <button (click)="displayModal2=false" class="botonVentana">Entendido</button>
    </div>
  </div>
</p-dialog>


<!--Ventana Modal: Top 5 de las instituciones que tienen mayor número de publicaciones-->
<p-dialog
  header="  "
  [(visible)]="displayModal3"
  [modal]="true"
  [style]="{width: '35vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="row">
    <img src="assets/universidad.jpg" class="imgDash">
  </div>
  <div class="row descripcionTitulo">
    <p><i class='bx bxs-dashboard'></i>     Top 5 de las instituciones que tienen mayor número de publicaciones</p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">Esta visualización muestra un top 5 de las instituciones o
      universidades, en base a la afiliación de los autores, con mayor número
      de publicaciones de acuerdo al área de Learning Analytics ordenado de mayor a menor.
    </p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">   </p>
  </div>
  <div class="wrap contenedorBoton">
    <div class="item">
      <button (click)="displayModal3=false" class="botonVentana">Entendido</button>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="  "
  [(visible)]="displayModalDatos"
  [modal]="true"
  [style]="{width: '35vw'}"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true">
  <div class="row">
    <img src="assets/datos.jpg" class="imgDash">
  </div>
  <div class="row descripcionTitulo">
    <p><i class='bx bxs-dashboard'></i>     Observatorio de Learning Analytics</p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">El presente dashboard tiene como objetivo informar a la audiencia sobre la evolución que ha
      tenido el tema de Learning Analytics (LA) en Latinoamérica en los últimos años. Los datos presentados en las siguientes visualizaciones
      fueron obtenidos mediante una revisión cuantitativa de la literatura a partir del año 2011 al 2019,
      teniendo como resultado 282 artículos de acuerdo con un modelo multidimensional compuesto por siete dimensiones. Cabe
      destacar que los datos no se recolectaron, sino que fueron extraídos del artículo denominado
      “Mapping Learning Analytics initiatives in Latin America”.
    </p>
  </div>
  <div class="row descripcionParrafo">
    <p class="p-m-0">   </p>
  </div>
  <div class="wrap contenedorBoton">
    <div class="item">
      <a href="https://www.researchgate.net/publication/340855546_Mapping_Learning_Analytics_initiatives_in_Latin_America" class="botonVentana">Ir al enlace del paper</a>
    </div>
  </div>
</p-dialog>

